.marquee[data-marquee] {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 9000;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	color: #fff;

	a,
	a:hover,
	a:active,
	a:focus {
		text-decoration: underline;
		color: #fff;
	}

	hr {
		margin-top: 25px;
		border-color: rgba(255,255,255,0.5);
	}
}
